body{
    background-color: #1e1e1e !important;
}

.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
}

button:hover ~ .cursor{
    transform: scale(6);
}