* {
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.pr-lg-1 {
    padding-right: 10px;
}

.ps-lg-1 {
    padding-left: 10px;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader-hide 3.1s ease-in-out both;
    overflow: hidden;
}

.loader .circle{
    background-color: #474bff;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    animation: bounce 3s linear both;
}



@keyframes bounce{
    0%{
        transform: scale(0.9,1.1) translateY(-200px);
    }
    25%{
        transform: scale(1.1,0.9) translateY(0);
    }
    50%{
        transform: scale(0.9,1.1) translateY(-200px);
    }
    75%{
        transform: scale(1.1,0.9) translateY(0);
    }
    100%{
        transform: scale(30,25) translateY(0);
        border-radius: 0;
    }
}

@keyframes loader-hide {
    from{
        display: flex;
    }
    to{
        display: none;
    }
}

.app-body{
    opacity: 0;
}

header nav {
    padding-inline: 20px;
}

header nav .logo img {
    width: 40%;
}

header nav .navigation-bar .nav-links {
    display: flex;
}

header nav .nav-links li {
    padding-inline: 15px;
}

header nav .nav-links li a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

header nav .nav-links li a:hover {
    color: #38b6ff;
    transition: all ease 0.3s;
}

header nav .mobile-menu i {
    display: none;
}

main .section {
    padding: 40px 0;
}

main .banner {
    padding-inline: 60px;
}

main .banner .banner-content h1 {
    margin-bottom: 10px;
    font-size: 80px;
}

main .banner .banner-content h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

main .banner .banner-content h4 {
    margin-bottom: 40px;
    letter-spacing: 1px;
}

main .banner .banner-content a {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    flex: 0 0 40%;
    max-width: 40%;
    font-size: 22px;
    font-weight: 500;
    background: rgb(68, 126, 235);
    color: #fff;
    letter-spacing: 1.5px;
}

main .banner .banner-content a:hover {
    background: #fff;
    border: 2px solid rgb(68, 126, 235);
    color: rgb(68, 126, 235);
}

.section .head-title{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.section .head-title::before{
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 700;
    color: #a2a2a2;
    opacity: 0.5;
    z-index: -1;
}

#service .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#service .section-title h1 {
    text-align: center;
}

#service .section-title h1 span {
    color: rgb(68, 126, 235);
}

#service .service-section .serv-card {
    padding: 30px;
}

#service .service-section .serv-card .serv-img{
    margin-bottom: 20px;
}

#about .about-container {
    padding-inline: 60px;
}

#about .avatar {
    margin-bottom: 20px;
}

#about .brief {
    padding: 40px;
}

#about .brief p {
    font-size: 14px;
    font-weight: 600;
    color: #a2a2a2;
}

#about .brief .quick-info{
    padding-left: 0;
}

#about .brief .quick-info li {
    padding: 20px 0;
}

#about .brief .quick-info li span{
    font-size: 20px;
    color: #a2a2a2;
}

#about .brief .quick-info li .info-label {
    padding-right: 20px;
    color: #006eff;
}

#about .brief a {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    background: rgb(68, 126, 235);
    color: #fff;
    border-radius: 8px;
}

#about .profile-info {
    padding-inline: 10px;
}

#about .profile-info h2{
    font-size: 50px;
}

#about .profile-info p {
    font-size: 14px;
    font-weight: 600;
    color: #a2a2a2;
}

#skills{
    padding-inline: 90px;
}

.expert-tool {
    justify-content: flex-start;
    margin-bottom: 50px;
    padding-top: 50px;
    flex-grow: 1;
}

.skill-main .skill-item {
    margin-bottom: 18px;
}

.skill-main .skill-item h4 {
    margin-bottom: 10px;
}

.skill-main .skill-item .progress_bar {
    position: relative;
    padding: 5px;
    border-radius: 10px;
}

.skill-main .skill-item .progress_bar::after {
    content: attr(data-count);
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    color: #a2a2a2;
    top: -100%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
}

.skill-main .skill-item .progress_bar .progress {
    height: 10px;
    border-radius: 10px;
    background: #c8c8c8;
}

.progress {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
}

.skill-main .skill-item .progress_bar .progress .progress-bar {
    transition: width .6s ease;
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

#projects .title h1 {
    margin-bottom: 30px;
}

#projects .title .view-btn a {
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #0067ffff;
    color: #0067ffff;
}

#projects .title .view-btn a:hover {
    background-color: #0067ffff;
    color: #fff;
}

#projects .gallery {
    padding: 40px 0;
}

#projects .gallery .project-field {
    position: relative;
    padding-inline: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#projects .gallery .project-field.active-field{
    border: 2px solid #a9adb8;
    border-radius: 10px;
}

#projects .gallery .project-info {
    padding-top: 10px;
    position: absolute;
    padding-inline: 10px;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 6px 4px #dddddd;
}

#projects .gallery .project-field.active-field .project-info{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#projects .gallery .project-field .project-info p {
    background-color: rgb(35, 35, 35);
    width: 50%;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #fff;
}

#projects .gallery .project-field:last-child .project-info p {
    width: 60%;
}

#projects .gallery .project-info h5 {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

#projects .project-container .project-show{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    overflow-x: hidden;
}

#contact .section-container{
    height: 100vh;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    background-color: #050505;
    background-image: linear-gradient(263deg, rgba(24, 24, 24, .72), rgba(0, 0, 0, 0) 85%), url('/Assets/img/638c53c36a8a27064d9e2f1f_GRID\ ILLUSTRATION.svg');
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-attachment: scroll, scroll;
    border: 1px #000;
    border-radius: 0.6rem 0 0 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 3rem 2rem 6rem;
    display: flex;
    position: relative;
    right: -1.5rem;
    will-change: opacity;
    opacity: 1;
}

#contact .contact-info{
    will-change: opacity;
    opacity: 1;
}

#contact .contact-info .style-h1{
    font-size: 7rem;
    color: #fff;
}

#contact .contact-info p{
    margin-bottom: 40px;
    font-size: 16px;
    color: #f2f2f2;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#contact .contact-info ul{
    padding-left: 0;
}

#contact .contact-info ul li{
    padding: 20px 0;
}

#contact .contact-info ul li .left-side{
    margin-right: 20px;
}

#contact .contact-info ul li .left-side a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #006eff;
}

#contact .contact-info ul li .right-side p{
    margin-bottom: 0;
    font-size: 16px;
    color: #a9adb8;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#contact .contact-info ul li .right-side .label{
    font-size: 20px;
    margin-bottom: 5px;
    color: #f2f2f2;
}

#contact .contact-form {
    flex-grow: 1;
    flex-basis: 400px;
}

#contact .title h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#contact .title p {
    line-height: 35px;
    font-size: 20px;
    color: #a2a2a2;
}

#contact .contact-form .input-grp {
    padding-bottom: 20px;
    width: 100%;
}

#contact .contact-form .input-grp input {
    width: 100%;
    height: 50px;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #dcdcdccd;
    transition: all .25s ease;
}

#contact .contact-form .input-grp input::placeholder{
    color: #ffffff;
}

#contact .contact-form .input-grp input:last-child {
    margin-bottom: 0;
}

#contact .contact-form textarea {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #dcdcdccd;
    transition: all .25s ease;
}

#contact .contact-form a {
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    padding: 10px 0;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid #0067ffff;
    border-radius: 10px;
    color: #0067ffff;
    cursor: pointer;
    transition: all .25s ease;
}

#contact .contact-form a:hover {
    background: #006eff;
    color: #fff;
}

footer {
    padding: 40px 0;
}

footer .footer-logo {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 30px;
}

footer .social-icons i {
    background-color: gray;
    color: #f2f2f2;
    font-size: 18px;
    padding: 20px;
    border-radius: 50%;
    margin-inline: 10px;
}

@media screen and (max-width: 768px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    header nav {
        position: relative;
    }

    header nav .logo {
        flex: 0 0 25%;
        max-width: 25%;
    }

    header nav .logo img {
        width: 100%;
    }

    header nav .navigation-bar .nav-links {
        display: none;
    }

    header nav .mobile-menu {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    header nav .mobile-menu i {
        display: flex;
        cursor: pointer;
    }

    header nav .mobile-menu:hover .nav-links {
        padding: 40px 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #0000006d;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50px);
        z-index: 999;
    }

    .nav-links li {
        padding: 10px 0;
    }

    header nav .mobile-menu:hover .nav-links li a {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }

    main .banner {
        margin-bottom: 40px;
        padding-inline: 20px;
    }

    main .banner .banner-content {
        margin-bottom: 40px;
    }

    main .section {
        padding: 20px 0;
    }

    main .section .section-title {
        text-align: center;
        margin-bottom: 20px;
    }

    main .section .section-title h1 span {
        color: #007bff;
    }

    #service .section-title h1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #service .service-section .serv-card {
        padding: 30px 0;
        margin-bottom: 40px;
    }

    #service .service-section .serv-card:nth-child(odd) {
        background: rgba(68, 126, 235, 0.279);
    }

    #service .service-section .serv-card .right-arrow{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(90deg, #474bff 0%, #bc48ff 100%);
    }
    
    #service .service-section .serv-card .right-arrow i{
        color: #fff;
        font-size: 18px;
    }

    #about .about-container {
        padding-inline: 20px;
    }

    #about .brief {
        padding-inline: 10px;
    }

    #about .brief p {
        letter-spacing: 1px;
    }

    #projects .gallery .project-field .project-info p {
        width: 30%;
    }

    #projects .gallery .project-field:last-child .project-info p {
        width: 45%;
    }

    #projects .title {
        text-align: center;
    }

    #projects .gallery .project-field {
        position: relative;
        margin-bottom: 50px;
    }

    #projects .gallery .project-info {
        padding-top: 10px;
        position: absolute;
        padding-inline: 10px;
        background-color: #fff;
        width: 100%;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 6px 4px #dddddd;
    }

    #contact .title {
        text-align: center;
    }

    .input-field.pe-sm-0 {
        padding-right: 0;
    }

    .input-field.mb-sm-1 {
        margin-bottom: 10px;
    }

    .input-field.ps-sm-0 {
        padding-left: 0;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    header nav .navigation-bar .nav-links {
        display: none;
    }

    header nav .mobile-menu i {
        display: flex;
        cursor: pointer;
    }

    header nav .mobile-menu:hover .nav-links {
        padding: 40px 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #0000006d;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50px);
        z-index: 999;
    }

    .nav-links li {
        padding: 10px 0;
    }

    header nav .mobile-menu:hover .nav-links li a {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
    }

    #service .serv-card {
        margin-bottom: 30px;
    }

    #service .service-section .serv-card:nth-child(odd) {
        background: rgba(68, 126, 235, 0.279);
    }

    #service .service-section .serv-card .right-arrow{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(90deg, #474bff 0%, #bc48ff 100%);
    }
    
    #service .service-section .serv-card .right-arrow i{
        color: #fff;
        font-size: 18px;
    }

    #about .about-container {
        padding-inline: 20px;
    }

    #about .profile-info {
        padding-inline: 10px;
    }

    #projects .gallery .project-field .project-info p {
        width: 20%;
    }

    #projects .gallery .project-field:last-child .project-info p {
        width: 50%;
    }

    #projects .gallery .project-field {
        margin-bottom: 40px;
    }
}


@media (min-width: 1366px) {
    header nav .mobile-menu {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    #service .service-section .serv-card:hover,
    #service .service-section .serv-card:nth-child(odd):hover {
        background: rgba(68, 126, 235, 0.279);
        cursor: pointer;
    }

    #service .service-section .serv-card:nth-child(odd) {
        background: #fff;
    }

    #service .service-section .serv-card .right-arrow{
        display: none;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(90deg, #474bff 0%, #bc48ff 100%);
    }
    
    #service .service-section .serv-card .right-arrow i{
        color: #fff;
        font-size: 18px;
    }
    
    #service .service-section .serv-card:hover .right-arrow{
        display: flex;
    }

    #projects .gallery .project-field .project-info p {
        width: 50%;
    }

    #projects .gallery .project-field:last-child .project-info p {
        width: 65%;
    }
}